### **Fisher Score- Chisquare Test For Feature Selection**
Compute chi-squared stats between each non-negative feature and class.

- This score should be used to evaluate categorical variables in a classification task.
- This score can be used to select the n_features features with the highest values for the test chi-squared statistic from X, which must contain only non-negative features such as booleans or frequencies (e.g., term counts in document classification), relative to the classes.

Recall that the chi-square test measures dependence between stochastic variables, so using this function “weeds out” the features that are the most likely to be independent of class and therefore irrelevant for classification. The Chi Square statistic is commonly used for testing relationships between categorical variables.

It compares the observed distribution of the different classes of target Y among the different categories of the feature, against the expected distribution of the target classes, regardless of the feature categories.

Youtube Videos
Statistical test: https://www.youtube.com/watch?v=4-rxTA_5_xA

https://www.youtube.com/watch?v=YrhlQB3mQFI

In [36]:
import pandas as pd
import seaborn as sns
df=sns.load_dataset('titanic')

In [37]:
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [38]:
df.pclass.unique()

array([3, 1, 2])

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [40]:
##['sex','embarked','alone','pclass','survived']
df = df[['sex','embarked','alone','pclass','survived']]
df.head()

      sex embarked  alone  pclass  survived
0    male        S  False       3         0
1  female        C  False       1         1
2  female        S   True       3         1
3  female        S  False       1         1
4    male        S   True       3         0

before applying chi square test we have to perform LABEL ENCODING on each and every feature

In [41]:
## lets perform label encoding on sex column
import numpy as np
df['sex']=np.where(df['sex']=="male",1,0)
## lets perform label encoding on embarked column
ordinal_label={k:i for i,k in enumerate(df['embarked'].unique(),0)}

In [42]:
ordinal_label

{'C': 1, 'Q': 2, 'S': 0, nan: 3}

In [43]:
df['embarked']=df['embarked'].map(ordinal_label)

In [44]:
df.head()

   sex  embarked  alone  pclass  survived
0    1         0  False       3         0
1    0         1  False       1         1
2    0         0   True       3         1
3    0         0  False       1         1
4    1         0   True       3         0

In [45]:
## lets perform label encoding on alone column
df['alone']=np.where(df['alone']==True,1,0)
df.head()

   sex  embarked  alone  pclass  survived
0    1         0      0       3         0
1    0         1      0       1         1
2    0         0      1       3         1
3    0         0      0       1         1
4    1         0      1       3         0

In [46]:
## train test split: to avoid overfitting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[['sex','embarked','alone','pclass']], df['survived'], test_size=0.3, random_state=0)
#X_train, X_test, y_train, y_test = train_test_split(df.drop('survived',axis=1), df['survived'], test_size=0.3, random_state=0)

In [47]:
X_train.head()

     sex  embarked  alone  pclass
857    1         0      1       1
52     0         1      0       1
386    1         0      0       3
124    1         0      0       1
578    0         1      0       3

In [48]:
X_train.isnull().sum()

sex         0
embarked    0
alone       0
pclass      0
dtype: int64

In [49]:
## perform chi2 test
## chi2 returns two values: f-score and p-value
from sklearn.feature_selection import chi2
f_p_values=chi2(X_train, y_train

In [50]:
f_p_values

(array([63.55447864, 11.83961845,  9.03328564, 21.61080949]),
 array([1.55992554e-15, 5.79837058e-04, 2.65107556e-03, 3.33964360e-06]))

- the first array gives fscore, the higher the fscore the more important that feature is.
- 2nd array gives p value: the lesser the p-value the more important that particular feature is.

In [61]:
p_values =  pd.Series(f_p_values[1])
p_values.index =  X_train.columns
p_values

sex         1.559926e-15
embarked    5.798371e-04
alone       2.651076e-03
pclass      3.339644e-06
dtype: float64

In [62]:
p_values.sort_index(ascending=False)

sex         1.559926e-15
pclass      3.339644e-06
embarked    5.798371e-04
alone       2.651076e-03
dtype: float64

#### Observation:
 sex column is the most important column when compared to the output feature survived